@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0.5);
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--scroll-bar-color) var(--scroll-bar-bg-color);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

*::-webkit-scrollbar-track {
  background: var(--scroll-bar-bg-color);
}

*::-webkit-scrollbar-thumb {
  background-color: lightgray;
  border-radius: 2px;
  border: 2px solid var(--scroll-bar-bg-color);
}

body {
  background: #fdfdfd;
  font-family: "Roboto", sans-serif;
}

header {
  background: white;
}
header,
footer {
  font-family: "Raleway", sans-serif;
}
